<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>
      <ion-icon name="map"></ion-icon>
       Tambah Wisata Baru</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>

        <ion-item>
          <ion-label position="floating">Nama Tempat</ion-label>
          <ion-input [(ngModel)] = "nama_tempat" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Alamat</ion-label>
            <ion-input [(ngModel)] = "alamat" required></ion-input>
        </ion-item>
        

        <ion-item>
            <ion-label>Kategori</ion-label>
            <ion-select [(ngModel)] = "kategori" required>
              <ion-select-option value="pantai">Pantai</ion-select-option>
              <ion-select-option value="alam">Wisata Alam</ion-select-option>
              <ion-select-option value="budaya_sejarah">Budaya dan Sejarah</ion-select-option>
              <ion-select-option value="museum">Museum</ion-select-option>
              <ion-select-option value="hiburan">Taman Hibuan</ion-select-option>
              <ion-select-option value="minat">Wisata minat Khusus</ion-select-option>
              <ion-select-option value="restoran">Restoran</ion-select-option>
              <ion-select-option value="lainya">Lainya</ion-select-option>
            </ion-select>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Foto Tempat</ion-label>
          <ion-input [(ngModel)] = "foto_tempat" required></ion-input>
      </ion-item>
      
      <ion-item>
          <ion-label>Jam Buka (klik) </ion-label>
          <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="jam_buka" required ></ion-datetime>
      </ion-item>

      <ion-item>
          <ion-label>Jam tutup (klik)</ion-label>
          <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="jam_tutup" required></ion-datetime>
      </ion-item>
    
    
    </ion-list>
    <ion-button expand="full" color="success"  shape="round" (click)="simpan()">Simpan</ion-button> 
    <ion-button expand="full" color="danger"  shape="round" (click)="goback()">Kembali</ion-button> 
</ion-content>