<ion-header>
  <ion-toolbar>
    <ion-title>Batam Traveller</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-img src="assets/img/logo.png"></ion-img>
    <ion-list>

          <ion-item> 
            <ion-label position="floating">Username</ion-label>
            <ion-input [(ngModel)] = "col1"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input [(ngModel)] = "col2" type="password"></ion-input>
            </ion-item>
      
      </ion-list>
      <ion-button expand="full" color="success"  shape="round" (click)="login()">  <ion-icon name="md-log-in"></ion-icon> Login </ion-button> 
      <ion-button expand="full" shape="round" (click)="daftar()"> <ion-icon name="paper-plane"></ion-icon>  Daftar</ion-button> 
      
</ion-content>
