<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>testcrud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>

          <ion-item>
            <ion-label position="floating">Column 1</ion-label>
            <ion-input [(ngModel)] = "testcrud.col1"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label position="floating">Column 2</ion-label>
              <ion-input [(ngModel)] = "testcrud.col2"></ion-input>
            </ion-item>
      
      </ion-list>
      <ion-button expand="full" color="success"  shape="round" (click)="simpan()">Simpan</ion-button> 
</ion-content>
