<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Batam Traveller
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/img/home.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Batam Island</ion-card-subtitle>
        <ion-card-title>Batam Traveller</ion-card-title>
      </ion-card-header>
     
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        
      </ion-list-header>
      <ion-card *ngFor="let data of this.data_load">
        <ion-item>
          <ion-row>
              <ion-col col-12>
                  <ion-item>
                    
                      <ion-thumbnail slot="start">
                        
                          <ion-img src="assets/img/{{data.foto_tempat}}"></ion-img>
                        <!--<h2><ion-icon name="rose"></ion-icon></h2>-->
                         </ion-thumbnail>
                      <ion-label>
                        <h2>{{data.nama_tempat}}</h2>
                      </ion-label>
                      <ion-button fill="outline" slot="end" (click)="presentActionSheet(data.id_tempat)"><ion-icon name="settings"></ion-icon></ion-button>
                    </ion-item> 
                </ion-col>
              </ion-row>
        </ion-item>
        
        <ion-card-content>
            <ion-row>
              <ion-col col-11>      
                 
                  <h4>Alamat :{{data.alamat}}</h4>      
                  <h4>Kategori :{{data.kategori}}</h4>
                  <h4>Waktu Buka :{{data.jam_buka}} - {{data.jam_tutup}}</h4>
                </ion-col>
               
              </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>
</ion-content>
